{% extends "main.html" %} {% block content %}

<div class="row mx-1 my-3">
  <div class="col-md-12 bg-warning">
    <div class="card-header text-center text-dark h3 py-3">
       مشتری های فروشگاه {{ shop.name }}
    </div>
    <div class="table-responsive">
      <table
        class="align-middle mb-0 table table-borderless table-striped table-hover bg-warning text-dark text-center mb-3"
      >
        <thead>
          <tr>
            <th>مشتری</th>
            <th class="text-center">آخرین سفارش در</th>
            <th class="text-center">مجموع سفارشات</th>
            <th class="text-center">قیمت کل</th>
            <th class="text-center">تعداد کل</th>
            <th class="text-center">جزئیات</th>
          </tr>
        </thead>
        <tbody>
          {% for order in client_order %}
          <tr>
            <td>
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left flex2">
                    <div class="widget-heading">
                      {{ order.client__username }}
                    </div>
                    <div class="widget-subheading opacity-7">
                      {{ order.client__phone }}
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center">{{ order.last_order }}</td>
            <td class="text-center">{{ order.order_count }}</td>
            <td class="text-center">{{ order.purchase_price }}</td>
            <td class="text-center">{{ order.purchase_quantity }}</td>

            <td class="text-center">
              <a
                href="{% url 'order_list' slug=shop.slug %}"
                type="button"
                id="PopoverCustomT-1"
                class="btn btn-dark text-warning btn-sm"
                >جزئیات</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="d-block text-center card-footer"></div>
  </div>
</div>

{% endblock content %}
